.booking-checkout {
  display: flex;
  font-family: 'Libre Baskerville';
  background-color: #142965;
  padding: 20px;
  gap: 30px;
}

.left-panel {
  width: 350px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.left-panel img {
  width: 100%;
  height: 270px;
  border-radius: 10px 10px 0 0;
}

.left-panel h3 {
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

.left-panel p {
  font-size: 23px;
  color: black;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0px 10px 5px 10px;
  text-align: center;
}

.review-btn {
  background-color: #81bfea;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: Libre Baskerville;
  margin-bottom: 5px;
  font-size: 20px;
}

.review-btn:hover {
  background-color: #468abf;
}

.right-panel {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.day-select {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 50px;
}

.calendar-btn {
  display: flex;
  align-items: center;
  gap: 0px;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  padding-right: 5px;
  font-family: Libre Baskerville;
  font-weight: bold;
  cursor: pointer;
}

.emoji {
  font-size: 45px;
}

.label {
  font-size: 18px;
}

.day-btn {
  font-size: 25px;
  padding: 20px 10px;
  font-family: Libre Baskerville;
  font-weight: bold;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
}

.day-btn:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.day-select button.selected {
  background-color: #5ab3f8;
}

.ticket-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.ticket-row h3 {
  margin-bottom: 5px;
  font-size: 25px;
  max-width: 480px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  gap: 5px;
}

.price .highlight {
  font-size: 25px;
  color: #e33517;
  font-weight: bold;
}

.price del {
  font-size: 20px;
  color: #737373;
  font-weight: bold;
  margin-bottom: -10px;
}


.ticket-row h4 {
  margin-bottom: 5px;
  font-size: 25px;
  max-width: 550px;
  font-weight: bold;
}

hr {
  border: 2px solid #545454;
  margin-top: -30px;
}

.qty-control {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
  margin-bottom: 10px;
}

.qty-control button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #c9c5c5;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.qty-control button:hover {
  background-color: #a6a6a6;
}

.qty-control span {
  font-size: 30px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}

.total-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 32px 20px;
}

.total-text {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 50%;
}

.total-text strong {
  max-width: 50px;
}

.book-now-btn {
  background-color: #81bfea;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: Libre Baskerville;
}

.book-now-btn:hover {
  background-color: #468abf;
}

