.home {
  background-color: #142965;
  padding: 5px;
}

.form-wrapper {
  font-family: Libre Baskerville;
  background: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.form-header h2 {
  margin-bottom: 5px;
  font-size: 25px;
}

.form-header p {
  font-size: 18px;
  color: #737373;
  font-weight: bold;
}

.login-box {
  display: flex;
  background: #e7e4e4;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

.login-box img {
  width: 120px;
  height: 120px;
}

.login-box strong {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.login-box ul {
  padding-left: 20px;
  font-size: 14px;
  color: #737373;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-box ul li {
  margin-bottom: 5px;
}

.login-box a {
  color: #0866ff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.form-body {
  background: #e7e4e4;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.form-body h3 {
  margin-bottom: 10px;
  border-bottom: 2px solid #737373;
  padding-bottom: 5px;
  font-size: 22px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #737373;
  font-size: 18px;
}

label span {
  color: red;
}

select {
  appearance: none;         
  background: url('https://i.pinimg.com/736x/09/1d/16/091d1624210325d6b3239bac7867741b.jpg') no-repeat left 5px center white;
  background-size: 25px;
}

select:focus {
  outline: 2px solid black;
}

select:valid {
  background: white;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
}

input:focus::placeholder,
textarea:focus::placeholder,
select:focus::placeholder {
  color: transparent;
}

textarea {
  resize: vertical;
  height: 60px;
}

.summary-box {
  background: #a7d4f0;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.summary-box h3 {
  font-size: 23px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.summary-content p strong{
  margin: 5px 0;
  font-weight: bold;
  font-size: 18px;
  color: #737373;
}

.summary-content .highlight-text {
  padding: 5px 0px;
  color: #0e489f;
  font-weight: bold;
  font-size: 20px;
}

.summary-content a {
  color: #0866ff;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.continue-btn {
  margin-top: 10px;
  background: #f7f616;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: Libre Baskerville;
  margin-left: 377px;
}

.continue-btn:hover {
  background: #e7c84f;
}
