.p-product-container {
  display: flex;
  padding: 30px;
}

.p-product-sidebar {
  width: 250px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.p-filter-group {
  margin-bottom: 20px;
}

.p-dropdown-toggle {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  text-align: left;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.p-arrow-down {
  font-size: 12px;
  color: gray;
}

.p-dropdown-menu {
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 6px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.p-dropdown-menu.no-checkbox {
  display: flex;
  flex-direction: column;
}

.p-dropdown-option {
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.1s;
  border-bottom: 1px solid #f0f0f0;
}

.p-dropdown-option:last-child {
  border-bottom: none;
}

.p-dropdown-option:hover {
  background-color: #f5f5f5;
}

.p-dropdown-option.active {
  background-color: rgb(71, 197, 239);
  font-weight: bold;
}

.p-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0px;
  flex: 1;
}

.p-product-card {
  border: none;
  border-radius: 10px;
  text-align: center;
  background: white;
  padding: 10px;
  transition: transform 0.3s;
}

.p-product-card:hover {
  transform: translateY(-5px);
}

.p-product-card img {
  width: 100%;
  height: 350px; 
  object-fit: cover;
  border-radius: 10px;
}


.p-product-name {
  font-weight: bold;
  margin-top: 10px;
}

.p-product-info {
  font-size: 14px;
  color: #555;
}
